.container{
    position: relative;
    z-index: 0;
}
.announce-form{
    width:100%;
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(209, 202, 202);
    border-radius: 5px;
}
.display-on{
    display: block;
}
.display-off{
    display: none;
}
.peke{
    float: right;
    cursor: pointer;
}
.peke:hover{
    text-decoration: none;
}
.announce-content{
    width: 100%;
}
.dark{
    z-index: 5;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.icon{
    border-radius: 3px;
    float: left;
}
.removal{
    width: 5%;
    float: right;
}
.display-off{
    display: none;
}
.controll-off{
    pointer-events: none;
}
